.cardContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.bottompara
{
  color:#c4c5c5;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}
.actionbtn
{
  margin-top: 20px;
}
