.cardcontainer
{
  background: #1d1d1d;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.speakers
{
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px 0;
}


.avatarimg img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #20bf5f;
  position: absolute;
  top: 0;
  left: 0;
  background: #1d1d1d;
}
.avatarimg img:last-child{
  top: 20px;
  left: 20px;
}

.names
{
  margin-left: 100px;
}
.names span{
  padding-bottom: 5px;
  display: inline-block;
  margin-right: 5px;
}
.peoplecount
{
  margin-left: auto;
}
.peoplecount span{
  font-weight: bold;
  margin-right: 5px;
}

.singlespeaker .avatarimg img
{
  position: initial;
}