.card-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.text
{
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  color: #c4c5c5;
  margin-bottom: 30px;
  text-align: center;
}

.signin-container
{
  margin-top: 20px;
}

.hasinvite
{
  color: #0077FF;
}

.signin-link
{
  color: #0077FF;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;

}