.cardContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.para
{
  color:#c4c5c5;
  width: 70%;
  margin: 20px auto;
  text-align: center;
}
.actionbtn
{
  margin-top: 20px;
}
