.navbar
{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkstyle{
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    user-select: none;
  }

  .linkheading
  {
    margin-left: 10px;
  }

  .logoutbtn
  {
    background: none;
    cursor: pointer;

  }

  .navRight
  {
    display: flex;
    align-items: center;
  }

  .avatar
  {
    border-radius:50%;
    object-fit: cover;
    border: 3px solid #0077ff;
    margin:0 20px ;
    margin-right: 10px;
  }