.cardContainer
{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
.buttonContainer
{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tabBtn
{
  width: 60px;
  height: 60px;
  background: #262626;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.tabBtn:last-child
{
  margin-left: 20px;
}

.active
{
  background: #0077ff;
}