.buttons
{
  background: #0077ff;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease-in-out;
}

.buttons:hover{
  filter: brightness(80%);
}

.arrow
{
  margin-left: 10px;
}